altgraph==0.17
asgiref==3.5.1
Brotli==1.0.9
cachetools==4.2.1
certifi==2020.12.5
chardet==3.0.4
charset-normalizer==2.1.1
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.0.4
django-cors-headers==3.7.0
django-import-export==2.8.0
djangorestframework==3.12.4
et-xmlfile==1.1.0
future==0.18.2
google-api-core==1.17.0
google-api-python-client==1.8.4
google-auth==1.16.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
httplib2==0.18.1
idna==2.9
MarkupPy==1.14
mutagen==1.44.0
odfpy==1.4.1
openpyxl==3.0.9
pefile==2022.5.30
Pillow==9.3.0
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodomex==3.11.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pyparsing==3.0.9
pytz==2022.6
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.23.0
rsa==4.0
six==1.15.0
sqlparse==0.4.1
tablib==3.2.1
tzdata==2022.1
unicode==2.7
uritemplate==3.0.1
urllib3==1.25.9
websockets==10.0
xlrd==2.0.1
xlwt==1.3.0
youtube-dl==2021.12.17
yt-dlp==2022.11.11
